body{
    /*background: cadetblue;*/
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
    font-size: 18px;
    /*font-family: 'Fraunces', serif;*/
}
.bg-image-full{
    background-image: url(../images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 617px;
    
}

.nav-a{
    font-weight: 600;
    color: white;
}
.nav-a:hover{
    font-family: 'Fraunces', serif;
    padding: 10px;
    background: white;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    border-radius: 50px; 
}
.title-nav{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:10px;
}
.content-title{
    font-family: 'Fraunces', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align: left;
}
.content-p{
    text-align: left;
    line-height: 1.5;
}
.content-a{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    letter-spacing: 5;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    line-height: 5;
    
}
.content-a:hover{
    color: black;
    text-decoration: none;
    border-bottom: 8px double hsl(51, 100%, 49%); 
}
.img-title{
    font-family: 'Fraunces', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.img-p{
    text-align: center;
    line-height: 1.5;
}
.design-cor{
    color: hsl(167, 40%, 24%);
    font-weight: bold;
}
.photo-cor{
    color: hsl(198, 62%, 26%);
    font-weight: bold;
}
.img-copo{
}
.bg-image-content1{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;

}
.bg-image-content2{
    background-image: url(../images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.cliente-title{
    font-family: 'Fraunces', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color:  hsl(210, 4%, 67%);
}
.cliente-img{
    border-radius: 50%;
    width: 35%;
}
.cliente-p{
    text-align: center;
    font-weight: bold;
}
.cliente-p2{
    color: hsl(232, 10%, 55%);
    text-align: center;
}
.cliente-s{
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    font-weight: 700;
}
footer{
    background:hsl(155, 51%, 60%);
}
.a-footer {
    color: hsl(168, 67%, 24%);
    font-weight: bold;
}
.a-footer:hover{
    color: hsl(168, 67%, 24%);
    text-decoration: none;
}
.icon-social{
    color: hsl(168, 67%, 24%);
}
.icon-social:hover{
    color: hsl(168, 67%, 24%);
    text-decoration: none;
}